# Pandas 선언하기
아래 명령어는 DataFrame을 사용하기 위해서 항상 사용해야 하는 Pandas라는 라이브러리에요. 맨 처음 선언하고 시작합시다.

In [4]:
import pandas as pd

# DataFrame 익히기

엑셀의 시트와 유사한 개념입니다.

## CSV 화일 불러오기
csv 화일을 읽어서 dataFrame에 저장합니다.

    pd.read_csv(화일위치)
    
header (컬럼이름)이 한줄 있는 경우 아래와 같이 사용합니다.

    pd.read_csv(화일위치, header=1)

In [14]:
df = pd.read_csv('data/카바조 데이터 - RESERVATION - 20181029.csv', header=2)

In [15]:
df.head()

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,sortNum,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert
0,1,14.0,7.0,3,3,권경회,안영신,1093452202,120000,12000,...,1,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1
1,2,24.0,7.0,3,1,성종호,류선규,1077061001,80000,8000,...,2,20160805190226000822,NaN,N,NaN,N,N,NaN,0,1
2,3,27.0,7.0,3,1,성종호,김상범,1068244639,80000,8000,...,3,20160806112619000128,NaN,N,NaN,N,N,NaN,0,1
3,4,38.0,38.0,-1,3,권경회,박찬휘,1067591102,80000,8000,...,4,20160808181312000096,NaN,N,NaN,N,N,NaN,0,1
4,5,39.0,7.0,-3,3,권경회,은아이,1062998002,80000,8000,...,5,20160809123358000370,NaN,N,NaN,N,N,NaN,0,1

In [16]:
df.tail()

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,sortNum,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert
4212,4525,5115.0,4285.0,3,56,이철영,이현석,1034977001,120000,12000,...,4525,20181018174317000498,INIMX_CARDcarvazo00020181018174545285596,N,Android/Chrome(68.0.3440.91),N,N,NaN,0,0
4213,4526,5113.0,4628.0,3,61,윤호선,공길환,1085953041,105000,10500,...,4526,20181018203602000783,INIMX_CARDcarvazo00020181018205437585509,N,Android/Chrome(59.0.3071.125),N,N,NaN,0,0
4214,4527,5116.0,4761.0,3,70,신명관,김대겸,1063070072,125000,12500,...,4527,20181018232329000924,NaN,N,Windows/Chrome(69.0.3497.100),N,N,NaN,1,0
4215,4528,5118.0,4761.0,3,70,신명관,전태근,1049490009,100000,10000,...,4528,20181019010522000999,INIMX_CARDcarvazo00020181019010914555627,N,Android/Chrome(50.0.2661.102),N,N,NaN,0,0
4216,4529,5117.0,NaN,0,58,박명현,김경환,1029783790,145000,14500,...,4529,20181019075427000191,NaN,N,iPhone/iphoneApp(),N,N,NaN,0,0

In [17]:
df.shape

(4217, 43)

In [18]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert'],
      dtype='object')

In [ ]:
# df.rename(columns={'statusCode': '상태코드', "col1": '컬럼1'})
# 수정하고자 하는 컬럼 이름 쌍으로 입력해서 수정
# 반드시 다시 df에 assign해야 함.

In [20]:
df[0:1]

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,sortNum,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert
0,1,14.0,7.0,3,3,권경회,안영신,1093452202,120000,12000,...,1,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1

info() 메소드를 이용하면 DataFrame의 구조와 메모리 사용량을 확인할 수 있습니다.

    DataFrame.info()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4217 entries, 0 to 4216
Data columns (total 43 columns):
reservationCode         4217 non-null int64
regMemberCode           3656 non-null float64
modMemberCode           3520 non-null float64
statusCode              4217 non-null int64
groupCode               4217 non-null int64
mechanicName            4217 non-null object
name                    4217 non-null object
phone                   4215 non-null object
subtotalPrice           4217 non-null int64
vat                     4217 non-null int64
totalPrice              4217 non-null int64
payMethodCode           4217 non-null int64
reservationDateTime     4217 non-null object
reservationDate         4217 non-null object
reservationDateLabel    4214 non-null object
dayGroupCode            4214 non-null float64
reservationTime         4217 non-null object
reservationTimeLabel    4214 non-null object
timeGroupCode           4214 non-null float64
reservationZoneCode     4217 non-null int64
reservationZoneLabel    4217 non-null object
carTypeCode             4217 non-null int64
carTypeLabel            4217 non-null object
unitPrice               4217 non-null int64
carNumber               4217 non-null int64
carNumberLabel          4217 non-null object
extraUnitPrice          4217 non-null int64
carLicensePlat          3365 non-null object
carModelLabel           2839 non-null object
comment                 3559 non-null object
meet_location           2717 non-null object
regDate                 4217 non-null object
modDate                 3527 non-null object
sortNum                 4217 non-null int64
serialCode              4217 non-null object
P_TID                   901 non-null object
card_cancel             4217 non-null object
agent                   2360 non-null object
RATING_SEND             4217 non-null object
coupon_yn               4217 non-null object
coupon_code             0 non-null float64
bank_confirm_api        4217 non-null int64
send_sms_alert          4217 non-null int64
dtypes: float64(5), int64(15), object(23)
memory usage: 1.4+ MB

describe 메소드를 이용하면 숫자로 된 데이터에 대한 정보를 얻을 수 있습니다

    DataFrame.describe()

In [23]:
df.describe()

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,subtotalPrice,vat,totalPrice,payMethodCode,dayGroupCode,timeGroupCode,reservationZoneCode,carTypeCode,unitPrice,carNumber,extraUnitPrice,sortNum,coupon_code,bank_confirm_api,send_sms_alert
count,4217.000000,3656.000000,3520.000000,4217.000000,4217.000000,4217.000000,4217.000000,4217.000000,4217.000000,4214.000000,4214.000000,4217.000000,4217.000000,4217.000000,4217.000000,4217.000000,4217.000000,0.0,4217.000000,4217.00000
mean,2303.035807,2673.210886,847.955398,1.145364,12.003557,111123.215556,11112.321556,122235.537112,0.062841,4.171096,1.897485,9.972729,3.555845,102632.202988,1.016837,1214.133270,2303.035807,NaN,0.080389,0.99668
std,1332.968353,1411.218678,1323.058619,2.323049,15.256325,35914.162890,3591.416289,39505.579179,0.627929,1.918073,0.895397,5.601357,3.414276,28489.747094,0.135848,9769.444165,1332.968353,NaN,0.271927,0.05753
min,1.000000,14.000000,7.000000,-4.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,1.000000,1.000000,4.000000,1.000000,80000.000000,1.000000,0.000000,1.000000,NaN,0.000000,0.00000
25%,1059.000000,1553.000000,21.000000,-1.000000,3.000000,80000.000000,8000.000000,88000.000000,0.000000,2.000000,1.000000,6.000000,1.000000,80000.000000,1.000000,0.000000,1059.000000,NaN,0.000000,1.00000
50%,2350.000000,2736.500000,94.000000,3.000000,10.000000,120000.000000,12000.000000,132000.000000,0.000000,4.000000,2.000000,8.000000,2.000000,100000.000000,1.000000,0.000000,2350.000000,NaN,0.000000,1.00000
75%,3472.000000,3821.750000,1168.000000,3.000000,13.000000,120000.000000,12000.000000,132000.000000,0.000000,6.000000,2.000000,14.000000,6.000000,120000.000000,1.000000,0.000000,3472.000000,NaN,0.000000,1.00000
max,4529.000000,5118.000000,5104.000000,3.000000,70.000000,575000.000000,57500.000000,632500.000000,1.000000,7.000000,4.000000,47.000000,21.000000,500000.000000,3.000000,120000.000000,4529.000000,NaN,1.000000,1.00000

In [24]:
df['totalPrice'].describe()

count      4217.000000
mean     122235.537112
std       39505.579179
min           0.000000
25%       88000.000000
50%      132000.000000
75%      132000.000000
max      632500.000000
Name: totalPrice, dtype: float64

## 컬럼 추가하기

In [25]:
df['totalPrice'].describe()

count      4217.000000
mean     122235.537112
std       39505.579179
min           0.000000
25%       88000.000000
50%      132000.000000
75%      132000.000000
max      632500.000000
Name: totalPrice, dtype: float64

In [26]:
df['totalPriceOverAverage'] = df['totalPrice'] > 122235.537112

In [27]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [30]:
df['totalPriceOverAverage'].sum() / df.shape[0] * 100

53.99573156272231

## 컬럼 삭제하기

In [34]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [35]:
df.drop(columns='name')

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,phone,subtotalPrice,vat,totalPrice,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
0,1,14.0,7.0,3,3,권경회,1093452202,120000,12000,132000,...,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1,True
1,2,24.0,7.0,3,1,성종호,1077061001,80000,8000,88000,...,20160805190226000822,NaN,N,NaN,N,N,NaN,0,1,False
2,3,27.0,7.0,3,1,성종호,1068244639,80000,8000,88000,...,20160806112619000128,NaN,N,NaN,N,N,NaN,0,1,False
3,4,38.0,38.0,-1,3,권경회,1067591102,80000,8000,88000,...,20160808181312000096,NaN,N,NaN,N,N,NaN,0,1,False
4,5,39.0,7.0,-3,3,권경회,1062998002,80000,8000,88000,...,20160809123358000370,NaN,N,NaN,N,N,NaN,0,1,False
5,7,58.0,13.0,3,1,성종호,1091602152,120000,12000,132000,...,20160811161517000591,NaN,N,NaN,N,N,NaN,0,1,True
6,8,59.0,13.0,3,1,성종호,1024601343,80000,8000,88000,...,20160811173326000625,NaN,N,NaN,N,N,NaN,0,1,False
7,9,60.0,21.0,3,3,권경회,1040210113,80000,8000,88000,...,20160812140144000747,NaN,N,NaN,N,N,NaN,0,1,False
8,10,61.0,7.0,3,3,권경회,1073667403,120000,12000,132000,...,20160812151141000605,NaN,N,NaN,N,N,NaN,0,1,True
9,11,33.0,21.0,3,3,권경회,1099762321,120000,12000,132000,...,20160812163317000375,NaN,N,NaN,N,N,NaN,0,1,True
10,12,64.0,21.0,3,3,권경회,1029280930,80000,8000,88000,...,20160812182023000941,NaN,N,NaN,N,N,NaN,0,1,False
11,13,65.0,21.0,3,3,권경회,1025280660,80000,8000,88000,...,20160812193751000389,NaN,N,NaN,N,N,NaN,0,1,False
12,14,38.0,38.0,-1,3,권경회,1067591102,80000,8000,88000,...,20160813204348000278,NaN,N,NaN,N,N,NaN,0,1,False
13,15,38.0,21.0,3,3,권경회,1067591102,80000,8000,88000,...,20160813204616000841,NaN,N,NaN,N,N,NaN,0,1,False
14,16,70.0,7.0,-2,3,권경회,1046006582,80000,8000,88000,...,20160813204722000446,NaN,N,NaN,N,N,NaN,0,1,False
15,17,70.0,7.0,-4,6,이근형,1046006582,80000,8000,88000,...,20160813224504000540,NaN,N,NaN,N,N,NaN,0,1,False
16,18,70.0,19.0,3,6,이근형,1046006582,80000,8000,88000,...,20160813224809000405,NaN,N,NaN,N,N,NaN,0,1,False
17,19,71.0,7.0,3,2,최성복,010-9933-2630,80000,8000,88000,...,20160814174300000111,NaN,N,NaN,N,N,NaN,0,1,False
18,20,78.0,7.0,-1,2,최성복,1093376765,80000,8000,88000,...,20160815073204000476,NaN,N,NaN,N,N,NaN,0,1,False
19,21,73.0,19.0,3,6,이근형,1038773103,145000,14500,159500,...,20160815125100000742,NaN,N,NaN,N,N,NaN,0,1,True
20,22,78.0,74.0,3,2,최성복,1093376765,80000,8000,88000,...,20160815165431000018,NaN,N,NaN,N,N,NaN,0,1,False
21,23,79.0,21.0,3,3,권경회,1090485896,80000,8000,88000,...,20160815201425000601,NaN,N,NaN,N,N,NaN,0,1,False
22,24,84.0,7.0,-2,3,권경회,1045129142,80000,8000,88000,...,20160816131846000941,NaN,N,NaN,N,N,NaN,0,1,False
23,25,33.0,21.0,3,3,권경회,1099762321,120000,12000,132000,...,20160816163656000199,NaN,N,NaN,N,N,NaN,0,1,True
24,26,NaN,7.0,-4,1,성종호,010-3849-5561,80000,8000,88000,...,20160816170702000259,NaN,N,NaN,N,N,NaN,0,1,False
25,27,NaN,21.0,3,3,권경회,010-3849-5561,80000,8000,88000,...,20160816192918000140,NaN,N,NaN,N,N,NaN,0,1,False
26,28,91.0,7.0,-1,1,성종호,1042721979,80000,8000,88000,...,20160817140019000372,NaN,N,NaN,N,N,NaN,0,1,False
27,29,91.0,13.0,3,1,성종호,1042721979,80000,8000,88000,...,20160817140748000147,NaN,N,NaN,N,N,NaN,0,1,False
28,30,96.0,13.0,3,1,성종호,1048551189,80000,8000,88000,...,20160817211317000164,NaN,N,NaN,N,N,NaN,0,1,False
29,31,106.0,106.0,-1,3,권경회,1046668966,120000,12000,132000,...,20160820144203000876,NaN,N,NaN,N,N,NaN,0,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4187,4500,5077.0,1168.0,3,13,김형태,1040297684,120000,12000,132000,...,20181016191433000957,INIMX_CARDcarvazo00020181016192019995983,N,Android/Chrome(50.0.2661.102),Y,N,NaN,0,1,True
4188,4501,5067.0,4754.0,3,63,최경일,1066281122,100000,10000,110000,...,20181017001306000538,NaN,N,Android/Chrome(50.0.2661.102),Y,N,NaN,1,1,False
4189,4502,5091.0,NaN,0,70,신명관,1096151240,145000,14500,159500,...,20181017123155000492,01-,N,Android/Chrome(59.0.3071.125),N,N,NaN,0,1,True
4190,4503,5100.0,NaN,0,13,김형태,1042056932,180000,18000,198000,...,20181017123810000881,NaN,N,Windows/Trident(7.0),N,N,NaN,0,1,True
4191,4504,5091.0,3906.0,3,70,신명관,1096151240,145000,14500,159500,...,20181017124445000456,INIMX_ISP_carvazo00020181017124621344043,N,Android/Chrome(59.0.3071.125),N,N,NaN,0,1,True
4192,4505,5099.0,4761.0,3,70,신명관,1071110645,120000,12000,132000,...,20181017124343000072,NaN,N,Android/androidApp(),N,N,NaN,1,1,True
4193,4506,5100.0,NaN,0,13,김형태,1042056932,80000,8000,88000,...,20181017125049000424,NaN,N,Windows/Trident(7.0),N,N,NaN,0,1,False
4194,4507,5100.0,NaN,0,13,김형태,1042056932,80000,8000,88000,...,20181017125049000424,NaN,N,Windows/Trident(7.0),N,N,NaN,0,1,False
4195,4508,5100.0,1168.0,3,13,김형태,1042056932,80000,8000,88000,...,20181017125049000424,StdpayISP_carvazo00020181017125532818201,N,Windows/Trident(7.0),Y,N,NaN,0,1,False
4196,4509,NaN,1168.0,3,13,김형태,1041838025,120000,12000,132000,...,20181017135756000591,NaN,N,NaN,Y,N,NaN,1,1,True
4197,4510,5102.0,3906.0,-1,59,박현철,1094182566,80000,8000,88000,...,20181017141544000317,NaN,N,Windows/Trident(7.0),N,N,NaN,0,1,False
4198,4511,5102.0,4421.0,3,59,박현철,1094182566,100000,10000,110000,...,20181017142628000961,StdpayCARDcarvazo00020181017142852906265,N,Windows/Trident(7.0),Y,N,NaN,0,1,False
4199,4512,5104.0,5104.0,-1,56,이철영,1088356220,120000,12000,132000,...,20181017160431000749,NaN,N,Android/androidApp(),N,N,NaN,0,0,True
4200,4513,5104.0,5104.0,-1,56,이철영,1088356220,120000,12000,132000,...,20181017160932000750,NaN,N,Android/androidApp(),N,N,NaN,1,0,True
4201,4514,5108.0,4761.0,3,70,신명관,1095375253,145000,14500,159500,...,20181018105215000725,StdpayCARDcarvazo00020181018110306856635,N,Windows/Chrome(55.0.2883.105),N,N,NaN,0,1,True
4202,4515,NaN,3906.0,3,56,이철영,1087178538,150000,15000,165000,...,20181018115045000665,NaN,N,NaN,Y,N,NaN,1,1,True
4203,4516,5106.0,3906.0,-1,6,이근형,1027831397,80000,8000,88000,...,20181018131241000964,01-,N,iPhone/iphoneApp(),N,N,NaN,0,0,False
4204,4517,5106.0,19.0,3,6,이근형,1027831397,80000,8000,88000,...,20181018132130000811,INIMX_CARDcarvazo00020181018132408394121,N,iPhone/iphoneApp(),N,N,NaN,0,0,False
4205,4518,4936.0,3906.0,-1,58,박명현,1020171554,150000,15000,165000,...,20181018132247000462,NaN,N,Android/androidApp(),N,N,NaN,1,0,True
4206,4519,5025.0,1168.0,3,13,김형태,1067704332,120000,12000,132000,...,20181018134042000815,INIMX_ISP_carvazo00020181018134858664221,N,Android/Chrome(69.0.3497.100),N,N,NaN,0,1,True
4207,4520,5112.0,NaN,0,70,신명관,1053350561,120000,12000,132000,...,20181018141520000015,01-,N,iPhone/iphoneApp(),N,N,NaN,0,0,True
4208,4521,5112.0,1168.0,3,13,김형태,1053350561,120000,12000,132000,...,20181018143002000917,StdpayCARDcarvazo00020181018144610490962,N,Windows/Chrome(65.0.3325.220),N,N,NaN,0,0,True
4209,4522,5095.0,4761.0,3,70,신명관,1033453276,100000,10000,110000,...,20181018143249000919,NaN,N,Windows/Chrome(69.0.3497.100),N,N,NaN,1,1,False
4210,4523,5114.0,4761.0,3,70,신명관,1041177697,120000,12000,132000,...,20181018154730000816,NaN,N,Android/Chrome(59.0.3071.125),N,N,NaN,1,0,True
4211,4524,5041.0,4761.0,3,70,신명관,1052164266,120000,12000,132000,...,20181018172952000266,NaN,N,Windows/Chrome(69.0.3497.100),N,N,NaN,0,0,True
4212,4525,5115.0,4285.0,3,56,이철영,1034977001,120000,12000,132000,...,20181018174317000498,INIMX_CARDcarvazo00020181018174545285596,N,Android/Chrome(68.0.3440.91),N,N,NaN,0,0,True
4213,4526,5113.0,4628.0,3,61,윤호선,1085953041,105000,10500,115500,...,20181018203602000783,INIMX_CARDcarvazo00020181018205437585509,N,Android/Chrome(59.0.3071.125),N,N,NaN,0,0,False
4214,4527,5116.0,4761.0,3,70,신명관,1063070072,125000,12500,137500,...,20181018232329000924,NaN,N,Windows/Chrome(69.0.3497.100),N,N,NaN,1,0,True
4215,4528,5118.0,4761.0,3,70,신명관,1049490009,100000,10000,110000,...,20181019010522000999,INIMX_CARDcarvazo00020181019010914555627,N,Android/Chrome(50.0.2661.102),N,N,NaN,0,0,False
4216,4529,5117.0,NaN,0,58,박명현,1029783790,145000,14500,159500,...,20181019075427000191,NaN,N,iPhone/iphoneApp(),N,N,NaN,0,0,True

In [36]:
df.shape

(4217, 44)

In [37]:
new_df = df.drop(columns='name')

In [38]:
new_df.shape

(4217, 43)

In [39]:
new_df.head()

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,phone,subtotalPrice,vat,totalPrice,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
0,1,14.0,7.0,3,3,권경회,1093452202,120000,12000,132000,...,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1,True
1,2,24.0,7.0,3,1,성종호,1077061001,80000,8000,88000,...,20160805190226000822,NaN,N,NaN,N,N,NaN,0,1,False
2,3,27.0,7.0,3,1,성종호,1068244639,80000,8000,88000,...,20160806112619000128,NaN,N,NaN,N,N,NaN,0,1,False
3,4,38.0,38.0,-1,3,권경회,1067591102,80000,8000,88000,...,20160808181312000096,NaN,N,NaN,N,N,NaN,0,1,False
4,5,39.0,7.0,-3,3,권경회,1062998002,80000,8000,88000,...,20160809123358000370,NaN,N,NaN,N,N,NaN,0,1,False

## 데이터 프레임 익숙해 지기

In [40]:
df[0:1]

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
0,1,14.0,7.0,3,3,권경회,안영신,1093452202,120000,12000,...,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1,True

In [41]:
df.shape

(4217, 44)

In [42]:
df[8774:]

Empty DataFrame
Columns: [reservationCode, regMemberCode, modMemberCode, statusCode, groupCode, mechanicName, name, phone, subtotalPrice, vat, totalPrice, payMethodCode, reservationDateTime, reservationDate, reservationDateLabel, dayGroupCode, reservationTime, reservationTimeLabel, timeGroupCode, reservationZoneCode, reservationZoneLabel, carTypeCode, carTypeLabel, unitPrice, carNumber, carNumberLabel, extraUnitPrice, carLicensePlat, carModelLabel, comment, meet_location, regDate, modDate, sortNum, serialCode, P_TID, card_cancel, agent, RATING_SEND, coupon_yn, coupon_code, bank_confirm_api, send_sms_alert, totalPriceOverAverage]
Index: []

[0 rows x 44 columns]

In [43]:
df[-1:]

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
4216,4529,5117.0,NaN,0,58,박명현,김경환,1029783790,145000,14500,...,20181019075427000191,NaN,N,iPhone/iphoneApp(),N,N,NaN,0,0,True

In [44]:
df[0:2]

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
0,1,14.0,7.0,3,3,권경회,안영신,1093452202,120000,12000,...,20160805082850000752,NaN,N,NaN,N,N,NaN,0,1,True
1,2,24.0,7.0,3,1,성종호,류선규,1077061001,80000,8000,...,20160805190226000822,NaN,N,NaN,N,N,NaN,0,1,False

In [45]:
df[99:100]

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
99,101,249.0,21.0,3,3,권경회,이한샘,1025527486,80000,8000,...,20160920165046000418,NaN,N,NaN,N,N,NaN,0,1,False

## 컬럼 보기

In [46]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [48]:
df['reservationCode']

0          1
1          2
2          3
3          4
4          5
5          7
6          8
7          9
8         10
9         11
10        12
11        13
12        14
13        15
14        16
15        17
16        18
17        19
18        20
19        21
20        22
21        23
22        24
23        25
24        26
25        27
26        28
27        29
28        30
29        31
        ...
4187    4500
4188    4501
4189    4502
4190    4503
4191    4504
4192    4505
4193    4506
4194    4507
4195    4508
4196    4509
4197    4510
4198    4511
4199    4512
4200    4513
4201    4514
4202    4515
4203    4516
4204    4517
4205    4518
4206    4519
4207    4520
4208    4521
4209    4522
4210    4523
4211    4524
4212    4525
4213    4526
4214    4527
4215    4528
4216    4529
Name: reservationCode, Length: 4217, dtype: int64

In [49]:
df['reservationCode'].count

<bound method Series.count of 0          1
1          2
2          3
3          4
4          5
5          7
6          8
7          9
8         10
9         11
10        12
11        13
12        14
13        15
14        16
15        17
16        18
17        19
18        20
19        21
20        22
21        23
22        24
23        25
24        26
25        27
26        28
27        29
28        30
29        31
        ...
4187    4500
4188    4501
4189    4502
4190    4503
4191    4504
4192    4505
4193    4506
4194    4507
4195    4508
4196    4509
4197    4510
4198    4511
4199    4512
4200    4513
4201    4514
4202    4515
4203    4516
4204    4517
4205    4518
4206    4519
4207    4520
4208    4521
4209    4522
4210    4523
4211    4524
4212    4525
4213    4526
4214    4527
4215    4528
4216    4529
Name: reservationCode, Length: 4217, dtype: int64>

## Group해서 보기

In [50]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [51]:
df['carTypeCode']

0        2
1        1
2        1
3        1
4        1
5        2
6        1
7        1
8        2
9        2
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
20       1
21       1
22       1
23       2
24       1
25       1
26       1
27       1
28       1
29       2
        ..
4187    10
4188     7
4189    10
4190    21
4191    10
4192    10
4193     6
4194     6
4195     6
4196    10
4197     6
4198     7
4199    10
4200    10
4201    10
4202    11
4203     6
4204     6
4205    10
4206     8
4207     9
4208     9
4209     7
4210    10
4211     9
4212     9
4213     6
4214     7
4215     7
4216     9
Name: carTypeCode, Length: 4217, dtype: int64

In [54]:
df.groupby('carTypeCode').count()['reservationCode'].sort_values(ascending=False)

carTypeCode
1     1627
2     1318
10     431
7      263
6      257
9      108
11      99
8       88
13      10
3       10
21       3
17       3
Name: reservationCode, dtype: int64

### 퍼센티지 구하기

In [55]:
(df.groupby('carTypeCode').count()['reservationCode'] / df.shape[0] * 100).sort_values(ascending=False)

carTypeCode
1     38.581930
2     31.254446
10    10.220536
7      6.236661
6      6.094380
9      2.561062
11     2.347641
8      2.086792
13     0.237135
3      0.237135
21     0.071141
17     0.071141
Name: reservationCode, dtype: float64

## 날짜 그룹해서 보기

In [60]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [61]:
df['reservationDateTime']

0       2016-08-06 11:00:00
1       2016-08-13 09:30:00
2       2016-08-08 17:00:00
3       2016-08-09 13:00:00
4       2016-08-10 09:00:00
5       2016-08-13 10:00:00
6       2016-08-13 11:00:00
7       2016-08-13 15:00:00
8       2016-08-13 17:00:00
9       2016-08-14 15:00:00
10      2016-08-13 15:00:00
11      2016-08-13 10:00:00
12      2016-08-14 09:00:00
13      2016-08-14 10:00:00
14      2016-08-14 15:00:00
15      2016-08-14 12:00:00
16      2016-08-14 15:00:00
17      2016-08-15 11:00:00
18      2016-08-16 09:00:00
19      2016-08-20 15:30:00
20      2016-08-16 11:00:00
21      2016-08-16 13:30:00
22      2016-08-17 09:00:00
23      2016-08-17 10:30:00
24      2016-08-18 17:00:00
25      2016-08-18 17:00:00
26      2016-08-18 12:00:00
27      2016-08-18 12:00:00
28      2016-08-18 14:00:00
29      2016-08-22 10:00:00
               ...
4187    2018-10-17 10:30:00
4188    2018-10-18 12:00:00
4189    2018-10-19 17:00:00
4190    2018-10-18 10:00:00
4191    2018-10-19 10:00:00
4192    2018-10-20 11:00:00
4193    2018-10-18 10:00:00
4194    2018-10-18 10:00:00
4195    2018-10-18 10:00:00
4196    2018-10-18 16:00:00
4197    2018-10-18 18:00:00
4198    2018-10-18 18:00:00
4199    2018-10-18 10:00:00
4200    2018-10-18 11:30:00
4201    2018-10-19 14:30:00
4202    2018-10-18 13:00:00
4203    2018-10-20 12:00:00
4204    2018-10-20 12:00:00
4205    2018-10-25 10:00:00
4206    2018-10-19 10:00:00
4207    2018-10-20 13:00:00
4208    2018-10-20 12:00:00
4209    2018-10-19 16:30:00
4210    2018-10-19 19:00:00
4211    2018-10-20 14:00:00
4212    2018-10-19 13:30:00
4213    2018-10-19 15:00:00
4214    2018-10-20 16:00:00
4215    2018-10-26 10:00:00
4216    2018-10-21 13:00:00
Name: reservationDateTime, Length: 4217, dtype: object

일자와 시간이 같이 들어 있다. 흠...

In [62]:
df['reservationDate']

0       2016-08-06
1       2016-08-13
2       2016-08-08
3       2016-08-09
4       2016-08-10
5       2016-08-13
6       2016-08-13
7       2016-08-13
8       2016-08-13
9       2016-08-14
10      2016-08-13
11      2016-08-13
12      2016-08-14
13      2016-08-14
14      2016-08-14
15      2016-08-14
16      2016-08-14
17      2016-08-15
18      2016-08-16
19      2016-08-20
20      2016-08-16
21      2016-08-16
22      2016-08-17
23      2016-08-17
24      2016-08-18
25      2016-08-18
26      2016-08-18
27      2016-08-18
28      2016-08-18
29      2016-08-22
           ...
4187    2018-10-17
4188    2018-10-18
4189    2018-10-19
4190    2018-10-18
4191    2018-10-19
4192    2018-10-20
4193    2018-10-18
4194    2018-10-18
4195    2018-10-18
4196    2018-10-18
4197    2018-10-18
4198    2018-10-18
4199    2018-10-18
4200    2018-10-18
4201    2018-10-19
4202    2018-10-18
4203    2018-10-20
4204    2018-10-20
4205    2018-10-25
4206    2018-10-19
4207    2018-10-20
4208    2018-10-20
4209    2018-10-19
4210    2018-10-19
4211    2018-10-20
4212    2018-10-19
4213    2018-10-19
4214    2018-10-20
4215    2018-10-26
4216    2018-10-21
Name: reservationDate, Length: 4217, dtype: object

In [64]:
df.columns

Index(['reservationCode', 'regMemberCode', 'modMemberCode', 'statusCode',
       'groupCode', 'mechanicName', 'name', 'phone', 'subtotalPrice', 'vat',
       'totalPrice', 'payMethodCode', 'reservationDateTime', 'reservationDate',
       'reservationDateLabel', 'dayGroupCode', 'reservationTime',
       'reservationTimeLabel', 'timeGroupCode', 'reservationZoneCode',
       'reservationZoneLabel', 'carTypeCode', 'carTypeLabel', 'unitPrice',
       'carNumber', 'carNumberLabel', 'extraUnitPrice', 'carLicensePlat',
       'carModelLabel', 'comment', 'meet_location', 'regDate', 'modDate',
       'sortNum', 'serialCode', 'P_TID', 'card_cancel', 'agent', 'RATING_SEND',
       'coupon_yn', 'coupon_code', 'bank_confirm_api', 'send_sms_alert',
       'totalPriceOverAverage'],
      dtype='object')

In [63]:
df.groupby('reservationDate').count()

,reservationCode,regMemberCode,modMemberCode,statusCode,groupCode,mechanicName,name,phone,subtotalPrice,vat,...,serialCode,P_TID,card_cancel,agent,RATING_SEND,coupon_yn,coupon_code,bank_confirm_api,send_sms_alert,totalPriceOverAverage
reservationDate,,,,,,,,,,,,,,,,,,,,,
0000-00-00,2,2,2,2,2,2,2,2,2,2,...,2,0,2,2,2,2,0,2,2,2
2016-08-06,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-08,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-09,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-10,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-13,7,7,7,7,7,7,7,7,7,7,...,7,0,7,0,7,7,0,7,7,7
2016-08-14,6,6,6,6,6,6,6,6,6,6,...,6,0,6,0,6,6,0,6,6,6
2016-08-15,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-16,3,3,3,3,3,3,3,3,3,3,...,3,0,3,0,3,3,0,3,3,3
2016-08-17,2,2,2,2,2,2,2,2,2,2,...,2,0,2,0,2,2,0,2,2,2
2016-08-18,5,3,5,5,5,5,5,5,5,5,...,5,0,5,0,5,5,0,5,5,5
2016-08-20,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-21,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-22,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-23,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-24,3,3,3,3,3,3,3,3,3,3,...,3,0,3,0,3,3,0,3,3,3
2016-08-25,4,4,4,4,4,4,4,4,4,4,...,4,0,4,0,4,4,0,4,4,4
2016-08-26,3,2,3,3,3,3,3,3,3,3,...,3,0,3,0,3,3,0,3,3,3
2016-08-27,2,1,2,2,2,2,2,2,2,2,...,2,0,2,0,2,2,0,2,2,2
2016-08-28,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-08-30,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-09-01,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,1,0,1,1,1
2016-09-03,5,5,5,5,5,5,5,5,5,5,...,5,0,5,0,5,5,0,5,5,5
2016-09-04,5,5,5,5,5,5,5,5,5,5,...,5,0,5,0,5,5,0,5,5,5
2016-09-05,2,2,2,2,2,2,2,2,2,2,...,2,0,2,0,2,2,0,2,2,2
2016-09-06,2,2,2,2,2,2,2,2,2,2,...,2,0,2,0,2,2,0,2,2,2
2016-09-07,6,5,6,6,6,6,6,6,6,6,...,6,0,6,0,6,6,0,6,6,6
2016-09-08,3,3,3,3,3,3,3,3,3,3,...,3,0,3,0,3,3,0,3,3,3
2016-09-09,3,1,3,3,3,3,3,3,3,3,...,3,0,3,0,3,3,0,3,3,3
2016-09-10,7,6,7,7,7,7,7,7,7,7,...,7,0,7,0,7,7,0,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-25,3,3,3,3,3,3,3,3,3,3,...,3,0,3,3,3,3,0,3,3,3
2018-09-26,4,3,3,4,4,4,4,4,4,4,...,4,2,4,3,4,4,0,4,4,4
2018-09-27,6,6,5,6,6,6,6,6,6,6,...,6,4,6,6,6,6,0,6,6,6
2018-09-28,13,7,12,13,13,13,13,13,13,13,...,13,2,13,7,13,13,0,13,13,13
2018-09-29,7,6,7,7,7,7,7,7,7,7,...,7,4,7,6,7,7,0,7,7,7
2018-09-30,6,4,6,6,6,6,6,6,6,6,...,6,2,6,4,6,6,0,6,6,6
2018-10-01,4,4,3,4,4,4,4,4,4,4,...,4,1,4,4,4,4,0,4,4,4
2018-10-02,5,4,4,5,5,5,5,5,5,5,...,5,0,5,4,5,5,0,5,5,5
2018-10-03,16,16,12,16,16,16,16,16,16,16,...,16,6,16,16,16,16,0,16,16,16
2018-10-04,9,7,7,9,9,9,9,9,9,9,...,9,3,9,5,9,9,0,9,9,9
2018-10-05,7,6,7,7,7,7,7,7,7,7,...,7,2,7,5,7,7,0,7,7,7
2018-10-06,12,11,11,12,12,12,12,12,12,12,...,12,4,12,11,12,12,0,12,12,12
2018-10-07,4,4,2,4,4,4,4,4,4,4,...,4,1,4,4,4,4,0,4,4,4
2018-10-08,11,9,10,11,11,11,11,11,11,11,...,11,4,11,9,11,11,0,11,11,11
2018-10-09,9,8,8,9,9,9,9,8,9,9,...,9,4,9,7,9,9,0,9,9,9
2018-10-10,10,8,7,10,10,10,10,10,10,10,...,10,4,10,8,10,10,0,10,10,10
2018-10-11,9,5,6,9,9,9,9,9,9,9,...,9,3,9,5,9,9,0,9,9,9
2018-10-12,16,14,12,16,16,16,16,16,16,16,...,16,5,16,14,16,16,0,16,16,16
2018-10-13,5,5,5,5,5,5,5,5,5,5,...,5,4,5,5,5,5,0,5,5,5
2018-10-14,11,11,7,11,11,11,11,11,11,11,...,11,6,11,11,11,11,0,11,11,11
2018-10-15,8,7,7,8,8,8,8,8,8,8,...,8,6,8,7,8,8,0,8,8,8
2018-10-16,8,8,5,8,8,8,8,8,8,8,...,8,6,8,8,8,8,0,8,8,8
2018-10-17,11,11,7,11,11,11,11,11,11,11,...,11,3,11,11,11,11,0,11,11,11
2018-10-18,16,13,12,16,16,16,16,16,16,16,...,16,3,16,13,16,16,0,16,16,16
2018-10-19,8,8,7,8,8,8,8,8,8,8,...,8,6,8,8,8,8,0,8,8,8
2018-10-20,8,8,7,8,8,8,8,8,8,8,...,8,4,8,8,8,8,0,8,8,8
2018-10-21,1,1,0,1,1,1,1,1,1,1,...,1,0,1,1,1,1,0,1,1,1
2018-10-23,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1
2018-10-25,1,1,1,1,1,1,1,1,1,1,...,1,0,1,1,1,1,0,1,1,1
2018-10-26,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,0,1,1,1

In [66]:
df['예약시간']

0       09:00
1       09:30
2       09:40
3       10:00
4       10:00
5       11:00
6       11:00
7       12:00
8       12:00
9       13:00
10      13:10
11      14:00
12      14:00
13      14:30
14      14:30
15      14:30
16      15:30
17      15:40
18      15:40
19      16:00
20      16:30
21      17:00
22      17:30
23      17:30
24      17:30
25      18:00
26      18:00
27      18:40
28      19:30
29      19:50
        ...
8745    11:30
8746    12:00
8747    12:00
8748    12:05
8749    12:20
8750    12:30
8751    13:00
8752    13:00
8753    13:00
8754    13:00
8755    13:30
8756    13:30
8757    14:00
8758    15:00
8759    15:30
8760    15:30
8761    16:00
8762    16:30
8763    16:40
8764    17:00
8765    17:00
8766    17:00
8767    17:30
8768    18:50
8769    19:00
8770    19:40
8771    20:50
8772    22:30
8773    22:40
8774    23:30
Name: 예약시간, Length: 8775, dtype: object

In [68]:
df.groupby('예약시간').count()

,예약코드,접수일자,예약일자,종료시간,예약형태,방문경로,예약상태,동승자수,지불방식,운행요금방식,...,이동시간(분),미터기시작위치,미터기시작시간,정산완료위치,정산완료시간,예약메모,정산메모,고객리뷰,고객평점,정산금액평균이상
예약시간,,,,,,,,,,,,,,,,,,,,,
00:00,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
00:05,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,0,0,1
00:20,3,3,3,3,3,2,3,3,2,2,...,3,2,2,2,2,3,0,0,0,3
00:30,2,2,2,1,2,1,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
00:40,3,3,3,2,3,0,3,3,2,2,...,2,2,2,2,2,3,2,0,0,3
00:50,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
01:00,3,3,3,2,3,0,3,3,2,2,...,2,1,1,1,1,3,2,0,0,3
01:10,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,1,0,0,0,2
01:20,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,2,0,0,0,2
01:25,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
01:30,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
02:00,5,5,5,2,5,1,5,5,2,2,...,2,2,2,2,2,4,1,0,0,5
03:00,1,1,1,1,1,1,1,1,0,0,...,1,0,0,0,0,1,0,0,0,1
03:30,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
04:00,1,1,1,1,1,0,1,1,0,0,...,1,0,0,0,0,1,0,0,0,1
04:20,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:00,2,2,2,2,2,0,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
05:10,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:30,1,1,1,0,1,1,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
05:40,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
06:00,7,7,7,3,7,2,7,7,2,2,...,3,1,1,2,2,7,0,0,0,7
06:20,2,2,2,1,2,1,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
06:40,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:00,27,27,27,19,27,2,27,27,13,13,...,19,13,13,13,13,26,3,0,0,27
07:15,3,3,3,1,3,0,3,3,1,1,...,1,1,1,1,1,2,0,1,1,3
07:20,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
07:30,15,15,15,12,15,4,15,15,9,9,...,12,8,8,7,7,13,4,0,0,15
07:40,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:45,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,0,0,0,1
07:50,4,4,4,3,4,1,4,4,2,2,...,3,2,2,2,2,4,0,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20:30,114,114,114,76,114,44,114,114,60,60,...,76,59,59,57,57,110,15,1,1,114
20:35,1,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,0,0,0,0,1
20:40,21,21,21,14,21,6,21,21,12,12,...,14,11,11,11,11,19,3,0,0,21
20:45,9,9,9,5,9,1,9,9,5,5,...,5,4,4,4,4,9,1,0,0,9
20:50,12,12,12,6,12,5,12,12,5,5,...,6,4,4,4,4,11,1,0,0,12
21:00,114,114,114,72,114,33,114,114,54,54,...,72,55,55,52,52,102,11,1,1,114
21:10,8,8,8,7,8,2,8,8,6,6,...,7,6,6,5,6,7,1,0,0,8
21:15,7,7,7,6,7,2,7,7,5,5,...,6,4,4,5,5,6,2,0,0,7
21:20,10,10,10,7,10,4,10,10,7,7,...,7,6,6,6,6,8,2,0,0,10
21:30,48,48,48,32,48,10,48,48,27,27,...,32,27,27,27,27,43,6,0,0,48
21:35,3,3,3,2,3,0,3,3,1,1,...,2,1,1,1,1,3,0,0,0,3
21:40,17,17,17,6,17,3,17,17,6,6,...,6,6,6,6,6,11,1,0,0,17
21:45,4,4,4,2,4,1,4,4,2,2,...,2,2,2,2,2,4,0,0,0,4
21:50,8,8,8,4,8,2,8,8,3,3,...,4,3,3,3,3,7,2,0,0,8
21:55,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,1,0,0,0,1
22:00,64,64,64,47,64,20,64,64,42,42,...,47,39,39,40,40,59,7,0,0,64
22:05,4,4,4,2,4,1,4,4,1,1,...,2,1,1,1,1,2,0,0,0,4
22:10,3,3,3,3,3,0,3,3,2,2,...,3,2,2,2,2,3,1,0,0,3
22:15,2,2,2,2,2,0,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
22:20,2,2,2,2,2,1,2,2,2,2,...,2,2,2,2,2,2,0,0,0,2
22:30,19,19,19,12,19,4,19,19,10,10,...,12,10,10,10,10,16,1,0,0,19
22:40,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
22:45,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23:00,26,26,26,13,26,7,26,26,10,10,...,13,8,8,8,8,22,1,0,0,26
23:10,2,2,2,1,2,1,2,2,0,0,...,1,0,0,0,0,1,0,0,0,2
23:15,2,2,2,1,2,0,2,2,1,1,...,1,1,1,1,1,2,0,0,0,2
23:30,9,9,9,5,9,0,9,9,5,5,...,5,4,4,3,3,5,2,0,0,9
23:35,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23:40,2,2,2,0,2,0,2,2,0,0,...,0,0,0,0,0,1,0,0,0,2
23:55,1,1,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1

15분 단위로 되어 있다. 만약 시간 단위로 묶으려면 어떻게 해야 할까?

## CSV 화일 만들기

작업한 dataFrame을 CSV 화일로 저장합니다.

    df.to_csv(저장위치, index=인덱스여부)

In [41]:
new_df.to_csv('data/output.csv', index=False)

# 다음으로

[이제 데이터를 수정해 봅시다](3.데이터%20수정하기.ipynb)